body {
    margin: 0;
    padding: 0;
    background-color:rgb(128, 128, 128);
}
.loginbox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(202, 196, 196, 0.5);
}
.user{
    width:100px;
    height:100px;
    overflow:hidden;
    top: calc(-100px/2);
    left: calc(50% - 50%);
    position:absolute;
}
.h2{
    padding:0;
    margin:0;
    align-items:center;
    color: rgb(255,217,9);
}
.lblemail, .lblpass{
    font-weight:bold;
    color:rgb(0, 0, 0);
}
.txtemail,.txtpass,.btnsubmit{
    width:100%;
    margin-bottom:20px;
}
.txtemail, .txtpass{
    border:none;
    border-bottom:1px solid #ffff;
    outline:none;
    height:30px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
}
::placeholder
{
    color:rgba(135,126,126);
}
.btnsubmit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: black;
    background-color: rgb(127, 165, 195);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
    .btnsubmit:hover {
        background-color: rgb(135, 126, 126);
    }
.btnforget{
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    color:#7fa5c3;
}
.btnforget:hover{
    text-decoration;
}

